<ul>
#foreach($doctor in $specialtyDoctors)
  <li><a href="/specialties/$doctor.getSpecialtyId()/doctors/$doctor.getId()"> $doctor.getName(), <span> $specialty.find($doctor.getSpecialtyId()).getName()</span></a></li>
#end
</ul>
