<!-- doctor.vtl -->
<h3>$doctor.getName()</h3>

<form class="" action="/specialties/$doctor.getSpecialtyId()/doctors/$doctor.getId()/delete" method="post">
  <button id="delete" type="submit" class="btn btn-danger">Delete</button>
</form>

<!-- doctor.vtl -->
